openapi: 3.0.1
info:
  title: Coterie Commercial Insurance Applications Policies API
  description: The Coterie Commercial Insurance API lets appointed agents and digital partners establish a commercial account, create applications describing an insured small business, generate rated bindable quotes for Business Owners Policy (BOP), General Liability (GL), Professional Liability (PL), and Workers' Compensation (WC), bind and issue policies, look up industry / NAICS classifications, retrieve policy documents, and manage webhooks.
  termsOfService: https://coterieinsurance.com/terms-of-use/
  contact:
    name: Coterie Insurance Partner Support
    url: https://docs.coterieinsurance.com/
  version: '1.0'
servers:
- url: https://api.coterieinsurance.com/v1
  description: Production
- url: https://api-sandbox.coterieinsurance.com/v1
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Policies
  description: Binding and issuing policies from bindable quotes.
paths:
  /commercial/policies:
    post:
      operationId: bindPolicy
      tags:
      - Policies
      summary: Bind a quote into a policy.
      description: Binds an existing bindable quote into an active policy. Supports binding with a Stripe payment token, the quote ID, and the agency ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BindRequest'
      responses:
        '200':
          description: Policy bound and issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
  /commercial/policies/{policyId}:
    get:
      operationId: getPolicy
      tags:
      - Policies
      summary: Retrieve a policy.
      parameters:
      - $ref: '#/components/parameters/PolicyId'
      responses:
        '200':
          description: Policy found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
components:
  parameters:
    PolicyId:
      name: policyId
      in: path
      required: true
      schema:
        type: string
  schemas:
    BindRequest:
      type: object
      properties:
        quoteId:
          type: string
        agencyId:
          type: string
        stripePaymentToken:
          type: string
          description: Stripe payment token used to bind via Stripe.
        effectiveDate:
          type: string
          format: date
      required:
      - quoteId
      - agencyId
    PolicyResponse:
      type: object
      properties:
        policyId:
          type: string
        policyNumber:
          type: string
        quoteId:
          type: string
        status:
          type: string
          description: e.g. Active, Canceled.
        premium:
          type: number
        effectiveDate:
          type: string
          format: date
        expirationDate:
          type: string
          format: date
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Pass your Coterie API key as a Bearer token in the Authorization header. Channel partners are issued a Publishable Key (client-side) and a Secret Key (server-side only); some operations require the Secret Key. Partners may also authenticate via OAuth2 client-credentials to obtain a Bearer access token. Producer attribution uses the token producer_{producerId} form.
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.coterieinsurance.com/v1/oauth/token
          scopes: {}
